{% extends 'base_template.html' %}

{% load staticfiles %}

<!--<TITLE> - Checking Portfolio owner or ordinary user -->
{% block title %}
  {% if user_url %}
    {{user_url|title}}
  {% else %}
    {{owner_name}}
  {% endif %}
{% endblock %}

<!--HOME URL - Checking Portfolio owner or ordinary user -->
{% block home_url %}
  {% if user_url %}
    {% url 'project_list' user_url %}
  {% else %}
    {% url 'mine_project_list' %}
  {% endif %}
{% endblock home_url %}


<!--USERNAME TITLE Checking Portfolio owner or ordinary user -->
{% block jumbotron_title %}
  {% if user_url %}
    {{ user_url|title }}
  {% else %}
    {{owner_name}}
  {% endif %}
{% endblock jumbotron_title %}


<!--ABOUT ME URL - Checking Portfolio owner or ordinary user -->
{% block about_me_link %}
  {% if user_url %}
    {% url 'profile_detail' user_url %}
  {% else %}
    {% url 'mine_profile_detail' %}
  {% endif %}
{% endblock about_me_link %}


<!-- Subject of requested user -->
{% block subject %}
  {{ user_education|lower }}
{% endblock subject %}


<!---------------EMAIL BUTTON--------------->
{% block email_button %}
  {% if user_email %}
    <a href="mailto:{{ user_email }}" class="btn btn-danger my-2">Email Me</a>
  {% else %}
    <a href="#" class="btn btn-danger my-2 disabled">No Email Found</a>
  {% endif %}
{% endblock email_button %}


<!------------PROJECT DISPLAY SECTION------------>
{% block body_block %}

  <div class="row text-center">

    <!------------PROJECT FOUND------------>
    {% if project_lists %}

      <!------------ITERATE PROJECT FROM DATABASE------------>
      {% for project_list in project_lists %}

        <!------------EACH PROJECT DISPLAY------------>
        <div class="col-lg-4">
          <img class="rounded-circle" src="{{ project_list.isometric_image.url }}" alt="Project Image" width="240" height="240">
          <h2>{{ project_list.title | title }} </h2>

          <!-- Tools used for this project -->
          {% if project_list.tools %}
              <br>
              <button type="button" class="disabled btn btn-sm btn-primary">{{ project_list.tools.0 }}</button>

              {% if project_list.tools.1 %}
                <button type="button" class="disabled btn btn-sm btn-secondary">{{ project_list.tools.1 }}</button>
              {% elif project_list.tools.2 %}
                <button type="button" class="disabled btn btn-sm btn-success">{{ project_list.tools.2 }}</button>
              {% elif project_list.tools.3 %}
                <button type="button" class="disabled btn btn-sm btn-danger">{{ project_list.tools.3 }}</button>
              {% elif project_list.tools.4 %}
                <button type="button" class="disabled btn btn-sm btn-warning">{{ project_list.tools.4 }}</button>
              {% endif %}
              <br>
              <br>
              <br>
          <!-- If tools doesn't provide we gave description of the project -->
          {% else %}
              <p>
                {{ project_list.description | title | truncatechars:70 }}
              </p>
          {% endif %}
          <p>
            <!-- Checking Portfolio owner or ordinary user -->
            {% if user_url %}
              <a class="btn btn-primary"
                 href="{% url 'project_detail' user_url project_list.id %}"
                 role="button">View Details &raquo;</a>
            {% else %}
              <a class="btn btn-dark"
                 href="{% url 'mine_project_detail' project_list.id %}"
                 role="button">View Details &raquo;</a>
            {% endif %}
          </p>
        </div>
      {% endfor %}

    <!------------ NO PROJECT IN DATABASE ------------>
    {% else%}
      <div class='text-center'>
        <h1 class='text-center display-3'>No Project Found!</h1>
      </div>
    {% endif %}
  </div>

{% endblock body_block %}

<!------- What people are saying
     section specially for me--------------->
{% block our_client %}
  {% if not user_url %}

    <div class="container-fluid bg-light">
      <div class="container py-5 marketing">

        <h1 id="client_list" class="text-secondary font-weight-bold text-center mb-5">What people are saying…</h1>
        <br>


        <!--List View-->
        <div class="row text-center">

          <!------------Image First------------>
          <div class="col-lg-4">

            <!--Portfolio Users-->
            <img class="rounded-circle" src="{% static 'user-3.jpg' %}" alt="Client Image" width="160" height="160">
            <br>
            <br>

            <!------------Profession------------>
           <h6 class="text-dark font-weight-bold">Design Engineer</h6>

            <!------------Opinion------------>
            <figure class="text-end">
              <blockquote class="blockquote">
                <h5 class="text-secondary text-secondary mt-3 mb-0">
                  "I have been offered the <b>"Trainee Design Engineer"</b> position at <b>"ISRINGHAUSEN GmbH"</b>, and I genuinely believe that your portfolio website was a key factor in this."
                </h5>
              </blockquote>

              <!------------Full Name------------>
              <figcaption class="blockquote-footer">
                <b class="text-danger">Shubham Tripathi</b>
              </figcaption>
            </figure>

            <br>
            <!------------CHECK PORTFOLIO BUTTON------------>
            <p>
              <a class="btn btn-outline-dark" href="/projects/shubham/">Checkout Portfolio</a>
            </p>
          </div><!-- FIRST USER SECTION END -->

          <!--------------------------------------------------------->

          <!------------Image Two------------>
          <div class="col-lg-4">

            <!--Portfolio Users-->
            <img class="rounded-circle" src="{% static 'arpit.jpg' %}" alt="Client Image" width="160" height="160">
            <br>
            <br>

            <!------------Profession------------>
            <h6 class="text-dark font-weight-bold">Mechanical Engineer</h6>


            <!------------Opinion------------>
            <figure class="text-end">
              <blockquote class="blockquote">
                <h4 class="text-secondary text-secondary mt-3 mb-0">
                  "I will refer everyone I know. This portfolio is worth much more than I paid. I'm loving it."
                </h4>
              </blockquote>

              <!------------Full Name------------>
              <figcaption class="blockquote-footer">
                <b class="text-danger">Arpit Singh Rajpoot</b>
              </figcaption>
            </figure>

            <br>
            <!------------CHECK PORTFOLIO BUTTON------------>
            <p>
              <a class="btn btn-outline-dark" href="/projects/arpit/">Checkout Portfolio</a>
            </p>
          </div><!-- SECOND USER SECTION END -->


        </div><!-- /.row -->

      </div>
    </div>
    </div>
  {% endif %}
{% endblock our_client %}



