<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>
    {% block title %}
      Shubhanshu
    {% endblock %}'s Portfolio
  </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">

  <style>
    .marketing .col-lg-4 {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .marketing h2 {
      font-weight: 400;
    }

    .marketing .col-lg-4 p {
      margin-right: .75rem;
      margin-left: .75rem;
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th {
      border-top: none;
    }

  </style>

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" 
          href="{% block home_url %}#{% endblock home_url %}">
        Home
      </a>

      <button class="navbar-toggler" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarNavAltMarkup" 
              aria-controls="navbarNavAltMarkup" 
              aria-expanded="false" 
              aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" 
            href="{% block about_me_link %}#{% endblock about_me_link %}" > 
            About Me
          </a>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    {% block profile %}
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">
            <b>
              Hi, I'm 
              {% block jumbotron_title %}
                Title right here
              {% endblock jumbotron_title %}
            </b>
          </h1>
          <p class="lead text-muted">Welcome to my official website,where you can find all of my mechanical projects in one place.</p>
          <p>
            {% block email_button %}
            {% endblock email_button %}
          </p>
        </div>
    </section>
    {% endblock %}

    <div class="container marketing">
      {% block body_block %}
      {% endblock body_block %}
    </div>

  </main>

  {% block our_client %}
  {% endblock %}

  <br>
  <br>
  <footer>
    </ br>
    </ br>
    <div class="footer text-center bg-dark text-white">
      <b>© Site by - shubhansh7777@gmail.com</b>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

